In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("server_view.csv")

In [3]:
df.head()

,index,game_name,player,hero_ID,hero_name,turn,phase,ability,ability_cast,ability_target,current_HP,current_location,score,ability_location,is_lobbing,is_piercing,area_effect
0,2,game,1,0,SENTRY,4,MOVE,-,-,-,150,"{'row': 29, 'column': 16}",0,-,-,-,-
1,2,game,1,2,BLASTER,4,MOVE,-,-,-,250,"{'row': 28, 'column': 17}",0,-,-,-,-
2,2,game,1,4,HEALER,4,MOVE,-,-,-,200,"{'row': 29, 'column': 14}",0,-,-,-,-
3,2,game,1,6,GUARDIAN,4,MOVE,-,-,-,400,"{'row': 28, 'column': 13}",0,-,-,-,-
4,2,game,2,1,SENTRY,4,MOVE,-,-,-,150,"{'row': 3, 'column': 14}",0,-,-,-,-

In [4]:
df.describe()

,index,player,hero_ID,turn,current_HP,score
count,1640.000000,1640.000000,1640.000000,1640.000000,1640.000000,1640.000000
mean,116.978659,1.500000,3.492683,20.055488,249.573171,52.529878
std,67.143978,0.500153,2.287712,9.593188,93.291454,27.597987
min,2.000000,1.000000,0.000000,4.000000,150.000000,0.000000
25%,59.000000,1.000000,1.750000,12.000000,187.500000,30.000000
50%,117.000000,1.500000,3.000000,20.000000,200.000000,51.000000
75%,175.000000,2.000000,5.000000,28.000000,250.000000,72.000000
max,233.000000,2.000000,7.000000,37.000000,400.000000,100.000000

In [5]:
import matplotlib.pyplot as plt

In [9]:
plt.style.use('ggplot')

In [16]:
df.groupby("hero_name")

In [ ]:
 df = df.cumsum()

In [ ]:
plt.figure()

In [ ]:
df.plot()